<phpunit bootstrap="tests/bootstrap.php">
  <testsuites>
    <testsuite name="main">
      <directory>tests/MediatoolkitTest.php</directory>
    </testsuite>
    <testsuite name="models">
      <directory>tests/Models</directory>
    </testsuite>
    <testsuite name="helpers">
      <directory>tests/Helpers</directory>
    </testsuite>
  </testsuites>
</phpunit>